$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import "compass";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1 {
  margin-top: 0px;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  /*
  height: 700px;
  */
  padding-top: 70px;
  padding-bottom: 80px;
}

.footerLinks {
  text-align: right;
  padding-right: 0px;
}

.translation {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  border-right-width: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  position: fixed;
  width: 100%;
  z-index: 2;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.headerBack {
  top: 0px;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 70px;
  background: white;
}

.fadein {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 20px;
  z-index: 1;
  @include background-image(linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%));
}

@media screen and (max-width: 768px) {
  .headerBack {
    height: 81px;
  }

  .content {
    padding-top: 81px;
  }

  .fadein {
    top: 81px;
  }

  .nav {
    margin-bottom: 1px;
  }

  .nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
  }

  .nav-tabs, .nav-pills {
    text-align: center;
  }

  .navtabs {
    text-align: center;
  }

  .title {
    text-align: center;
    white-space: nowrap;
  }
}

/* Custom page erer */
.footer {
  bottom: 0px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

a, .footer > p > button {
  color: pink;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: pink;
}

.scrolledContent {
  padding-bottom: 100px;
}

.fadeout {
  position: fixed;
  bottom: 80px;
  width: 100%;
  height: 20px;
  z-index: 0;
  @include background-image(linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%));
}

.footerBack {
  bottom: 0px;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 80px;
  background: white;
}

/* When the footer wraps to three stacks increase the footer gradient height
   and the amount of empty in the end of content. Also make the thing pulled
   left to align right since it is now not in the left side but by itself */
@media screen and (max-width: 767px) {

  h1 {
    margin-bottom: 0px;
  }

  .footerLinks {
    margin-bottom: 0px;
  }

  .footer {
    padding-top: 0px;
  }

  body {
    padding-top: 2px;
  }

  .footerBack {
    height: 64px;
  }

  .translation {
    padding-bottom: 0px;
    border-bottom-width: 0px;
  }

  p.ptranslation {
    margin: 0 0 0px;
  }

  .content {
    padding-bottom: 64px;
  }

  .fadeout {
    bottom: 64px;
  }

  .pull-left {
    text-align: right;
  }

  .scrolledContent {
    padding-bottom: 125px;
  }

  .carousel-indicators {
    display: none;
  }
}

.carousel {
  height: 70vh;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  height: 70vh;
}

.carousel-caption {
  left: 10%;
  right: 10%;
}

@media screen and (max-width: 580px) {
  .footerBack {
    height: 84px;
  }

  .content {
    padding-bottom: 84px;
  }

  .fadeout {
    bottom: 84px;
  }

  .pull-left {
    text-align: right;
  }

  .scrolledContent {
    padding-bottom: 96px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-height: 950px) {
  .carousel-caption {
    color: black;
    position: static;
  }
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.bio > img {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
