<ul class="list-unstyled scrolledContent container-fluid">
    <div id="section" ng-repeat="section in sections">
        <div class="row"><h3 class="col-md-offset-1 col-md-11 col-sm-offset-0 col-sm-12" translate>
            CV.{{section}}</h3></div>

        <div id="sectionLine">
            <li class="row" ng-repeat="line in translations.CV[section].VALUES">
                <div class="col-md-offset-1 col-md-2 col-sm-offset-0 col-sm-3">{{timeFor(line)}}</div>
                <div translate class="col-md-8 col-sm-9">
                    CV.{{section}}.VALUES.{{$index}}.DESC
                </div>
            </li>
        </div>
        <div id="subsection"
             ng-repeat="subsection in subsections[section]">
            <div class="row"><h4 class="col-md-offset-1 col-md-11 col-sm-offset-0 col-sm-12" translate>
                CV.{{section}}.{{subsection}}</h4></div>

            <div id="subsectionLine">
                <li class="row"
                    ng-repeat="line in translations.CV[section][subsection].VALUES">
                    <div class="col-md-offset-1 col-md-2 col-sm-offset-0 col-sm-3">{{timeFor(line)}}
                    </div>
                    <div translate class="col-md-8 col-sm-9">
                        CV.{{section}}.{{subsection}}.VALUES.{{$index}}.DESC
                    </div>
                </li>
            </div>
        </div>
    </div>
</ul>