<div class="scrolledContent">
    <h3>Bio</h3>

    <p>Laura Kärki (s.1978 Lahdessa) on suomalainen monitaiteen kuvataiteilija,
        joka asuu ja
        työskentelee Saksassa, Suomessa sekä ulkomaisissa
        taiteilijaresidensseissä. Kärki on
        valmistunut Aalto Yliopistosta vuonna 2006 Taiteen maisteriksi,
        Metropolia AMK:sta
        vuonna 2006 tekstiilisuunnittelun artenomiksi sekä vuonna 2006 Tammelan
        käsi­ ja
        taideteollisuusoppilaitoksesta keramiikka­alan artesaaniksi.</p>

    <p>Kärki tekee sanaa, kuvaa ja
        ääntä. Hän työskentelee laaja alaisesti kuvaitaiteen eri
        osaamiskenttiensä välissä ja
        muodostaa näistä elementeistä erilaisia installaatioita, runoja ja
        ääniteoksia.
        Kärki on käsitellyt teoksissaan ulkopuolisuuden tunteita, yksinäisyyttä,
        sekä irrallisuuden
        kokemuksia suhteessa toisiin ihmisiin.</p>

    <p>Kärjen teoksia on ollut esillä sekä Suomessa että
        ulkomailla mm. Madridin Circulo de Bellas Artesissa, Mäntän
        kuvataideviikoilla, Wäinö
        Aaltosen taidemuseossa'ja Vantaan Taidemuseossa. Hänen töitään on mm.
        Suomen
        valtion – ja Borenius & Kemppisen taidekokoelmissa. Kärki työskentelee
        myös ajoittain
        kuvataideopetuksen parissa.</p>

    <h3>Artist Statement</h3>

    <p>Teen sanaa, kuvaa ja ääntä. Työskentelen monipuolisesti osaamiskenttieni
        parissa ja
        teen eri materiaaleista koostuvia installaatioita, runoja ja
        ääniteoksia. Lisäksi olen vielä
        käsityöläinen ja annan eri tekniikoiden näkyä teoksissani.</p>

    <p>Käsittelen teoksissani ulkopuolisuuden tunteita, yksinäisyyttä sekä
        irrallisuuden
        kokemuksia suhteessa toisiin ihmisiin. Tällä hetkellä työskentelen
        nykyperheen
        viitekehyksen parissa ja valmistelen vuoden 2014 ja 2015 näyttelyitä,
        joita esittelen niin
        Suomessa kuin Saksassa.</p>

    <h3>Taiteellisesta työskentelystä</h3>

    <p>
        Viime vuosina olen työskennellyt useiden ääni-installaatioiden
        parissa, kirjoittanut runoja sekä tehnyt veistoksia eri
        materiaaleista. Teoksissani yhdistelen näitä eri elementtejä
        toisiinsa.</p>

    <p>
        Jo useamman vuoden ajan olen käsitellyt teoksissani kiirettä
        ja sen vaikutusta ihmiseen ja hänen lähiympäristöönsä.
        Kiireisen arjen hahmottaminen on syventynyt seuraavan kysymyksen
        äärelle: Milloin läsnäolo muuttuu poissaoloksi? Tuon
        kysymyksen kautta olen pohtinut muun muassa sitä, kuinka läsnäolemisen
        tasot horjuvat niin helposti, sillä ympäröivä
        elämämme on niin pirstaleista. Kiiireisen arjen keskellä
        on vaara, että sitä muuttuu välinpitämättömäksi.
        Lähellä olevat merkitykselliset ja arvokkaat asiat
        jäävät arkisen kiireen alle. Kun läsnäolo
        muuttuu poissaoloksi, missä ihminen tuolloin oikeastaan on?</p>

    <p>
        Työskentelyprosessini kaari ideasta valmiiksi teokseksi saattaa
        kestää useita vuosia. Hidas kypsyminen on mielenkiintoista,
        vaikkakin haastelleista, sillä ympäröivä
        todellisuutemme on
        erittäin pirstaleista.</p>

    <p>
        Uudet teokseni ovat sisällöllisesti jatkumoa aikaisemmille töilleni,
        joissa on kokemuksia kiireen läsnäolosta. Olen käsitellyt
        teoksissani ulkopuolisuuden tunteita, yksinäisyyttä,
        sekä irrallisuuden kokemuksia suhteessa toisiin ihmisiin.</p>

    <p>
        Työskentelen Berliinissä, Lahdessa, Helsingissä sekä
        taiteilijaresidensseissä ulkomailla. Valmistelen parhaillaan
        tulevien vuosien näyttelyitä.</p>

    <h3>Kuvataiteen moniottelija herättelee katsojia<br/>
        <small>Veikko Halmetojan kirjoittama taiteilijaesittely</small>
    </h3>
    <p>Laura Kärki tekee kuvaa, sanaa ja ääntä. Hän on omien teosten
        kuvataiteilija, runoilija ja äänisuunnittelija. Tämän ohella hän
        on vielä käsityöläinen, joka antaa tekniikan ja tekemisen näkyä
        teoksissa, olla osa niitä.</p>

    <p>Monipuolisuus on vahvuus. Kärki hakee taiteellista linjaansa
        sisällöstä ei estetiikasta. Hänellä on ensin sisältö, sen
        jälkeen materiaalit ja lopulta muoto. Hänen teoksensa syntyvät
        tekniikalla, joka parhaiten tukee teoksen sisältöä. Muoto ei jää
        kuitenkaan sisällön varjoon. Hyvin valitut materiaalit ja
        tekniikat pääsevät oikeuksiinsa, kun ne ovat sopusoinnussa
        sisällön kanssa. Hinta, jonka Kärki tästä maksaa, on selkeiden
        visuaalisten tunnusmerkkien puute.</p>

    <p>Se vaikeuttaa taiteilijabrändin luomista, mutta parantaa
        uskottavuutta. Hänen valitsemallaan tiellä teokset puhuvat
        puolestaan, ja hänelle itselleen jää aikaa ajatteluun ja
        sisältöjen syventämiseen.</p>

    <p>Kärki on sekä keramiikka- että tekstiilialan ammattilainen, joka
        hyödyntää ammattitaitoaan teoksissa. Hän ompelee veistoksia,
        toistaa esinekoosteet keramiikkana ja tekee jopa
        kangasprinttiveistoksia asiakkaiden omista kuvista.</p>

    <p>Pilleripäivät (2010) on keramiikkaa. Siinä
        ehkäisypilleripakkaukset on valmistettu perinteisestä
        designmateriaalista. Ristiriita on herkullinen erityisesti
        siksi, että teos on hyvin kaunis. Materiaalivalinnalla arkisesta
        mutta ristiriitaista arvosisältöä kantavasta esineestä on tullut
        kiinnostava kannanotto.</p>

    <p>Stressipallot (2011) ovat suuria mustia tyynyjä. Ne ovat muotoon
        ommeltuja lempeitä kummajaisia. Stressipallot ojentavat lukuisia
        käsiään katsojaa kohden. Pyytävätkö vai tarjoavatko ne apua, jää
        kysymykseksi?</p>

    <p>Miksei kukaan leiki mun kanssa? (2011) on surullinen pieni
        veistos, jossa yhdistyvät useat Kärjen käyttämät tekniikat.
        Kangasprintistä ommeltu teos pitää sisällään myös äänimaiseman.
        Kuvan pikkutyttö on Kärki itse, mutta se ei lopulta ole
        merkityksellistä. Teos kuvittaa lasten yksinäisyyden kokemuksia
        yleisellä ja tunnistettavalla tavalla.</p>

    <p>Kärjen teoksia yhdistää vierauden ja ulkopuolisuuden teemat.
        Yksinäisyys, kiireeseen unohtuneet lähimmäiset ja kyvyttömyys
        empatiaan kytkeytyvät kaikki nyky-yhteiskunnan sosiaalisiin
        ongelmiin.</p>

    <p>Kärki ei lepsuile vaan uskaltaa kommentoida piittaamattomuutta.
        Hän opettaa meitä kysymään Mitä kuuluu? (2011) koulukaunolla
        kirjoitetuissa seinätauluissa ja antaa runojaan luettaviksi
        rutattujen paperien sisältä teoksessa Hetken helpotuksia
        (2003-2011). Kihlajaisia (2010) koostuu sulaneista rakkauden
        symboleista ja iskee varmaan monen jätetyn ja petetyn
        yksinäisyyden kokemukseen.</p>

    <p>Teokset ovat puhuttelevia ja pakottavat ajattelemaan. Ne pitävät
        sisällään pieniä murtumia, jotka paljastavat raadollisia
        piirteitä siitä todellisuudesta, johon olemme turtuneet. Kärki
        on ajankohtainen kuvataiteilija, jonka ilmaisu ei kunnioita
        rajoja. Hän uskaltaa ottaa ilmaisullisia riskejä ja tästä syystä
        hänen teoksiaan on helppo lähestyä. Teokset ovat elämyksellisiä
        ja herättävät emootioita. Se on tervetullut ja harvinainen
        piirre tänä laskelmoidun ilmaisun aikakautena.</p>

    <br/>
    <strong>Veikko Halmetoja</strong>
    <strong>2011</strong>
    <br/>
</div>