<div class="scrolledContent container-fluid">
    <img class="img-responsive" src="../images/whoiam.jpg"
         alt="Who is she? II, 2017">

    <h4 translate>NEW.UPCOMING.1</h4>

    <p translate>NEW.UPCOMING.1.DESC</p>

    <h4 translate>NEW.UPCOMING.2</h4>

    <p translate>NEW.UPCOMING.2.DESC</p>

    <h4 translate>NEW.UPCOMING.3</h4>

    <p translate>NEW.UPCOMING.3.DESC</p>

    <h4 translate>NEW.UPCOMING.4</h4>

    <p translate>NEW.UPCOMING.4.DESC</p>

    <h4 translate>NEW.UPCOMING.5</h4>

    <p translate>NEW.UPCOMING.5.DESC</p>

    <h4 translate>NEW.UPCOMING.6</h4>

    <p translate>NEW.UPCOMING.6.DESC</p>

    <h4 translate>NEW.UPCOMING.7</h4>

    <p translate>NEW.UPCOMING.7.DESC</p>

</div>
