<div class="scrolledContent container-fluid">
    <img class="img-responsive" src="images/mulgara.jpg"
         alt="Mulgara, 2016, series: Endangered Animals">

    <h4 translate>NEW.UPCOMING.1</h4>

    <p translate>NEW.UPCOMING.1.DESC</p>

    <h4 translate>NEW.UPCOMING.2</h4>

    <p translate>NEW.UPCOMING.2.DESC</p>

    <h4 translate>NEW.UPCOMING.3</h4>

    <p translate>NEW.UPCOMING.3.DESC</p>

    <!-- <h4 translate>NEW.UPCOMING.4</h4>

    <p translate>NEW.UPCOMING.4.DESC</p> -->

</div>
