<h3>Poems</h3>
<p>Download my poem collection (in Finnish) <a target="_blank"
                                               href="../resources/hiiliperhonen.pdf">Hiiliperhonen
    on nimesi, kaipaat kiinnitettä siipiisi</a></p>

<blockquote>
    <p>
        Hiiliperhonen is Laura Kärki's first poem collection, whose poems have
        been born between a long period of time. The work is indeed a result of
        a long process, it describes the struggle between inner and outer world:
        dreams and real life, household work and making art. Skin without
        protection and hard shells are contrapuntal images on top of which even
        the dialog between the poems is built on.
    </p>

    <p>
        But when You is found, the change sneaks in: one drops from the edge of
        melancholy in other's arms, even one's mouth melts within strokes.
        'Within hold of sleeping butterflies / I bind summer trail's violets to
        dance' is one of the most beautiful poems in the collection.
    </p>

    <footer>Editor: MA Maaria Matikainen (translated by Mika Salminen)</footer>
</blockquote>


<p>I am currently looking for a grant to translate the collection to English and
    German.</p>

<h3>Site programming</h3>
<p>(c) 2014 Mika Salminen - for hire mika dot o dot salminen at gmail dot com</p>