<div class="scrolledContent">
  <h3>Runot</h3>
  <p>Lataa runokokoelmani <a target="_blank"
                             href="../resources/hiiliperhonen.pdf">Hiiliperhonen
    on nimesi, kaipaat kiinnitettä siipiisi</a></p>

  <blockquote>
    <p>Hiiliperhonen on Laura Kärjen ensimmäinen
      kokoelma, jonka runot ovat syntyneet pitkän
      ajan kuluessa. Teos onkin pitkällisen prosessin
      tulos, se kuvaa sisä- ja ulkomaailman välistä
      kamppailua ja vuoropuhelua: haaveita ja elämää,
      kotitaloutta ja taiteen tekemistä. Suojaton iho
      ja kovat kuoret ovat kontrapunktisia kuvia,
      joiden varaan runojen keskinäinenkin dialogi
      rakentuu.</p>

    <p>Mutta kun Sinä löytyy, muutos tapahtuu kuin
      huomaamatta: tipahdetaan melankolian laidalta
      syliin, suukin sulaa silityksiin. Uinuvien
      perhosten otteessa / Sidon kesäpolun orvokit
      tanssiksi on yksi kokoelman kauneimmista
      runoista.</p>

    <footer>Toimittaja: Toim. fil.maist. Maaria Matikainen</footer>
  </blockquote>


  <p>Etsin parhaillaan kokoelmalle käännösrahoitusta
    suomi-englanti ja suomi-saksa.</p>

  <h3>Punnittu esitys-katalogi</h3>
  <p>Lataa näyttelyn katalogi-PDF <a target="_blank"
                                            href="../resources/laura_karki_a_measured_presentation.pdf">tästä</a></p>

  <h3>Sivuohjelmointi</h3>
  <p>(c) 2014 Mika Salminen - tilaukset mika piste o piste salminen miukumauku
    gmail piste com</p>
</div>
