<div lk-carousel id="workCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item" ng-class="{active:$index==0}" ng-repeat="work in works">
            <img ng-src="../images/{{$index + 1}}.jpg" alt="{{work.name}}">
            <div class="carousel-caption">
                <h3>{{work.name}}</h3>
                <p ng-bind-html="work.desc"></p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <span class="left carousel-control" href="#workCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" href="#workCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
</div>
